# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
*.swo
*~

# Test files
test-dump/
*.sql
*.tsv
test-dump/*.json

# Dependencies
node_modules/

# Build artifacts
dist/
build/

# Logs
*.log
*.example.{txt,json}